# OSX
#
/ReactNativeApp/.DS_Store

# Xcode
#
/ReactNativeApp/build/
/ReactNativeApp/*.pbxuser
/ReactNativeApp/!default.pbxuser
/ReactNativeApp/*.mode1v3
/ReactNativeApp/!default.mode1v3
/ReactNativeApp/*.mode2v3
/ReactNativeApp/!default.mode2v3
/ReactNativeApp/*.perspectivev3
/ReactNativeApp/!default.perspectivev3
/ReactNativeApp/xcuserdata
/ReactNativeApp/*.xccheckout
/ReactNativeApp/*.moved-aside
/ReactNativeApp/DerivedData
/ReactNativeApp/*.hmap
/ReactNativeApp/*.ipa
/ReactNativeApp/*.xcuserstate
/ReactNativeApp/project.xcworkspace

# Android/IntelliJ
#
/ReactNativeApp/build/
/ReactNativeApp/.idea
/ReactNativeApp/.gradle
/ReactNativeApp/local.properties
/ReactNativeApp/*.iml

# node.js
#
/ReactNativeApp/node_modules/
/ReactNativeApp/npm-debug.log
/ReactNativeApp/yarn-error.log

# BUCK
/ReactNativeApp/buck-out/
/ReactNativeApp/\.buckd/
/ReactNativeApp/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

/ReactNativeApp/*/fastlane/report.xml
/ReactNativeApp/*/fastlane/Preview.html
/ReactNativeApp/*/fastlane/screenshots

# Bundle artifact
/ReactNativeApp/*.jsbundle

# CocoaPods
/ReactNativeApp//ios/Pods/
/ReactNativeApp/